<%= @question.text_for(@co_name) %>

<p class="secondary">Choose the best answer below.</p>

<% @answers.each_with_index do |answer, index| %>
  <%= radio_button_tag("answer[data1]", index + 1) %> <%= answer.text %> <br/>
<% end %>
