body {
  margin: 0px;
  padding: 0px;
  color: #503E2B;
  background-color: #FFFFF0;
  font-family: 'Vollkorn', arial, serif;
}

h1 {
  text-align: center;
}

.top_container {
  padding: 0px;
}

.spaced_container {
  max-width: 800px;
  margin: 11.111%;
}

.flash_notice, .flash_error, .flash_warning {
  padding: 5px 8px;
  margin: 10px 0;
}

.flash_notice {
  background-color: #E8FFE8;
  border: solid 1px #6C6;
}

.flash_warning {
  background-color: #DD9A24;
  border: solid 1px #DD9A24;
}

.flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.menu_bar {
  color: #304028;
  background-color: #8080FF;
  min-height: 2em;
  padding: 0.3em;
  padding-right: 2em;
}

.right_float_bar {
  padding: 0.5em;
  float: right;
  color: #9E948A;
  background-color: #503E2B;
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;
}

.right_float_bar a {
  color: #0000FF;
}

.leader {
  font-size: 300%;
}

.info_block {
  line-height: 150%;
  font-size: 125%;
  margin: 2em;
  list-style-type: none;
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;
}

.call_to_action {
  display: inline;
  padding: 0.5em;
  font-size: 200%;
  color: #FF0000;
  text-shadow: 0.1em 0.1em 0.1em #88f;
  background-color: #A0A0FF;
  -moz-border-radius:1.5em;
  -webkit-border-radius:1.5em;
}

.call_to_action a {
  color: #FF0000;
}

.call_to_action a:hover {
  color: #FFFF00;
  background-color: #A0A0FF;
}

.warm_text {
  color: #503E2B;
}

.warm_secondary_text {
  color: #9E948A;
}

.cool_secondary_text {
  color: #808094;
}

.shadow {
  -moz-box-shadow: 3px 3px 4px #303050;
  -webkit-box-shadow: 3px 3px 4px #303050;
  box-shadow: 3px 3px 4px #303050;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#040408')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#040408');
}

.inset {
  margin-left: 2em;
}

.very_inset {
  margin-left: 6em;
}

.primary {

}

.secondary {
  color: #808094;
}

.emphatic {
  font-weight: bold;
}

.big_logo {
  font-size: 200%;
  text-shadow: 0.1em 0.1em 0.1em #aaf;
}

.big_logo_box {
  padding: 5px;
}

.small_logo {
  font-size: 125%;
}

.improve_button {
  display: inline;
  font-size: 90%;
  color: #304028;
  background-color: #8080FF;
  border: solid 1px #22F;
  text-shadow: 0.1em 0.1em 0.1em #9E948A;
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;
  padding: 0.2em;
}

.improve_button a {
  text-decoration: none;
}

.improve_button a:hover {
  text-decoration: none;
}

.suggest_button {
  display: inline;
  font-size: 90%;
  color: #304028;
  background-color: #8080FF;
  border: solid 1px #22F;
  text-shadow: 0.1em 0.1em 0.1em #9E948A;
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;
  padding: 0.2em;
}

.suggest_button a {
  text-decoration: none;
}

.suggest_button a:hover {
  text-decoration: none;
}

.center {
  text-align: center;
}

.center_inline {
  text-align: center;
  display: inline;
}

.clear {
  clear: both;
}

.floatright {
  float: right;
}

.center_div {
  max-width: 30% ;
  margin: 0 auto ;
}

.nodisplay {
  display: none;
}
