body {
  margin: 0px;
  padding: 0px;
  color: #503E2B;
  background-color: #FFFFF8;
  font-family: 'Vollkorn', arial, serif;
}

.top_container {
  margin: 10px;
  padding: 0px;
}

.menu_bar {
  color: #304028;
  background-color: #8080FF;
  min-height: 2em;
  padding: 0.3em;
  padding-right: 2em;
}

.right_float_bar {
  padding: 0.5em;
  float: right;
  color: #9E948A;
  background-color: #503E2B;
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;
}

.right_float_bar a {
  color: #0000FF;
}

.leader {
  font-size: 300%;
}

.info_block {
  line-height: 150%;
  font-size: 125%;
  margin: 2em;
  left-margin: 1em;
  list-style-type: none;
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;
}

.call_to_action {
  display: inline;
  padding: 0.5em;
  font-size: 200%;
  color: #FF0000;
  background-color: #A0A0FF;
  -moz-border-radius:1.5em;
  -webkit-border-radius:1.5em;
}

.call_to_action a {
  color: #FF0000;
}

.call_to_action a:hover {
  background-color: #4040FF;
  color: #FFFF00;
}

.warm_text {
  color: #503E2B;
}

.warm_secondary_text {
  color: #9E948A;
}

.cool_secondary_text {
  color: #808094;
}

.inset {
  margin-left: 2em;
}

.very_inset {
  margin-left: 6em;
}

.primary {

}

.secondary {
  color: #808094;
}

.big_logo {
  font-size: 200%;
  text-shadow: 0.1em 0.1em 0.1em #aaf;
}

.big_logo_box {
  padding: 5px;
}

.small_logo {
  font-size: 125%;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.floatright {
  float: right;
}
