<div class="right_link_widget">
<h3 class="widgettitle">Hacker News November Apps</h3>
  <ul class='blogroll'>
    <li>
      <a href="http://apps.ycombinator.com/item?id=1857136">(November App?)</a>
    </li>
    <li>
      <a href="http://www.21times.org"
         title="Build and launch an app in a month">21 Times</a>
      Build and launch an app in a month
    </li>
    <li>
      <a href="http://www.appstowin.com"
         title="Daily Contests for Web Apps">AppsToWin</a>
      Daily Contests for Web Apps
    </li>
    <li>
      <a href="http://exceptionalasp.net"
         title="Strange ASP.Net errors? Our monitoring knows why">Exceptional
           ASP.Net</a>
        Strange ASP.Net errors? Our monitoring knows why
    </li>
    <li>
      <a href="http://www.exercise-motivation.com"
         title="Instant Motivation for your own health!">Excercise
           Motivation</a>
      Instant Motivation for your own health!
    </li>
    <li>
      <a href="http://eyeclash.com"
         title="Video-chat based social network">EyeClash</a>
      Video-chat based social network
    </li>
    <li>
      <a href="http://fanbldr.com"
         title="Develop rabid Facebook fans">FanBldr</a>
      Develop rabid Facebook fans
    </li>
    <li>
      <a href="http://goodsie.com"
         title="DIY e-commerce done right">Goodsie</a>
      DIY e-commerce done right
    </li>
    <li>
      <a href="http://hackety-hack.com"
         title="The easiest way to learn programming">Hackety Hack</a>
      The easiest way to learn programming
    </li>
    <li>
      <a href="http://www.ironclan.com"
         title="Competitive Gaming">Iron Clan</a>
      Competitive Gaming
    </li>
    <li>
      <a href="http://job-scheduler.info"
         title="Hosted RESTful job scheduling service">Job Scheduler</a>
      Hosted RESTful job scheduling service
    </li>
    <li>
      <a href="http://www.localstrange.com"
         title="Real-time location-based social utility">Local Strange</a>
      Real-time location-based social utility
    </li>
    <li>
      <a href="http://privio.net"
         title="Business Software for Private Teachers">Privio</a>
      Business Software for Private Teachers
    </li>
    <li>
      <a href="http://rejose.com"
         title="Software Development Jobs">Rejose</a>
      Software Development Jobs
    </li>
    <li>
      <a href="http://www.simplebugz.com"
         title="The bug tracker you&#8217;ll enjoy using">Simplebugz</a>
      The bug tracker you&#8217;ll enjoy using
    </li>
    <li>
      <a href="http://www.sparkmuse.com"
         title="Tech Idea Discussion">Sparkmuse</a>
      Tech Idea Discussion
    </li>
    <li>
      <a href="http://videolla.com"
         title="Make Money on Videos">Videolla</a>
      Make Money on Videos
    </li>
    <li>
      <a href="http://www.votetocracy.com"
         title="Where citizens vote on bills in Congress">Votetocracy</a>
      Where citizens vote on bills in Congress
    </li>
    <li>
      <a href="http://wantmyjob.com"
         title="The Right Tech Job. Now.">Want My Job</a>
      The Right Tech Job. Now.
    </li>
    <li>
      <a href="http://www.weddingbudgetbuddy.com"
         title="Making budgeting for your wedding a breeze">Wedding Budget
        Buddy</a>
      Making budgeting for your wedding a breeze
    </li>
  </ul>
</div>
