<div class="spaced_container">
  <h1> About WantMyJob </h1>

  <p class="secondary">
    Looking for jobs at WMJ?  Information about our VCs and funding?
    The fax number for the corporate office?  We're too small to have
    any of that.  Sorry!  If you need to email me, feel free to Google
    me.  My name is pretty distinctive.  When in doubt, I'm the Noah
    Gibbs in Fremont, California.
  </p>

  <p>
    WMJ is the one-person project of Noah Gibbs, a professional and
    amateur developer.
  </p>

  <h2> Why WantMyJob? </h2>

  <p>
    It turns out that job hunting is a painful process for anybody.  It
    doesn't work well when you want specific people.
    It doesn't work well for employees or companies.  Companies waste
    lots of money on it.  Headhunters get paid
    huge amounts of money to mercilessly badger candidates who aren't
    interested and don't match the job.
  </p>

  <p>
    Better yet, most job descriptions are exaggerated at best, or utter
    lies at worst.  Want to know what working at the company is like?
    Good luck with that.  Good jobs get buried, bad jobs look good,
    and you just can't tell what's what.
  </p>

  <p>
    And we all hate hiring somebody competent that just doesn't fit.
    Too negative?  Too positive?  Too trendy?  Too stressed?  Sure,
    he'd be great somewhere else, but we hired him <i>here</i>, and
    he just doesn't fit.  How could we have found out in advance?
  </p>

  <h2> And so... </h2>

  <p>
    We talk to you and a bunch of other people.  We ask questions, and
    we do our best to match you up where you'll fit.  Bad jobs don't
    attract good candidates, Steelers fans can avoid all-Cowboys
    offices, and it's ponies and rainbows for everyone!  Yay!
  </p>

  <h2> Why the Heavy Slant toward Computer Programmers? </h2>

  <p>
    I write what I know.  Also, computer programmers have the problems
    above in spades.  If you're just desperate for work, this site can't
    do much for you.  If you don't care who you hire, this is way too
    much effort.  But programmers and several similar jobs can really
    use this.
  </p>

  <p>
    With that said, there should totally be better questions for, say,
    people working in biotech.  I let you suggest questions for the site,
    so you can come and fix that.  If we get too many weird questions
    that don't apply to most people and their jobs, we'll find a way
    to fix it, I promise.
  </p>
</div>
