<p style="font-size: 80%; font-weight: bold;">
  Looking for jobs at WMJ?  Information about our VCs and funding?
  The fax number for the corporate office?  We're too small to have
  any of that.  Sorry!  If you need to email me, feel free to Google
  me.  My name is pretty distinctive.  When in doubt, I'm the Noah
  Gibbs in Fremont, California.
</p>

<div class="spaced_container">
  <h1> About WantMyJob </h1>

  <p>
    WMJ is the one-person project of Noah Gibbs, a professional and
    amateur software developer.
  </p>

  <h2> Why WantMyJob? </h2>

  <p>
    Job hunting is painful for anybody in high tech.  It's hard to get
    an honest description of a job, and hard to get a real list of
    what jobs they're hiring for.  It doesn't work well for employees
    or companies.  Companies waste lots of money on it.  Headhunters
    get paid huge amounts of money to mercilessly badger candidates
    who aren't interested and don't match the job.
  </p>

  <p>
    Most job descriptions are exaggerated or utter
    lies.  Want to know what working at the company is like?
    Good luck with that.  Good jobs get buried, bad jobs look good,
    and you just can't tell what's what.
  </p>

  <p>
    And as coworkers, we hate hiring somebody competent that just
    doesn't fit.  Too negative?  Too positive?  Too trendy?  Too
    stressed?  Sure, he'd be great somewhere else, but we hired
    him <i>here</i>, and now what do we do?  How could we have known
    in advance?
  </p>

  <h2> And so... </h2>

  <p>
    We talk to you and a bunch of other people about yourselves and
    places you've worked.  We ask questions, and we do our best to
    match you up where you'll fit.  Bad jobs don't attract good
    candidates, Steelers fans can avoid all-Cowboys offices, and it's
    ponies and rainbows for everyone!  Yay!
  </p>

  <h2> Why the Heavy Slant toward Computer Programmers? </h2>

  <p>
    I write what I know.  Also, computer programmers have the problems
    above in spades.
  </p>

  <p>
    With that said, there should totally be better questions for, say,
    people working in biotech.  I let you suggest questions for the
    site, so you can come and fix that.  If we get too many weird
    questions that don't apply to most site users and their jobs, we'll
    find a way to fix that, I promise.
  </p>
</div>
