<ul class="info_block">
  <li> Find the Right Company For You </li>
  <li> Find What It's Really Like </li>
  <li> Get an Introduction </li>
</ul>

<div class="center">
  <div class="call_to_action">
   <%= link_to("Join Now!", :controller => :registrations, :action => :quick) %>
  </div>
</div>

<div class="info_block"> Some companies we profile:

  <div class="company">
    Broadcom
    <ul>
      <li> Software Engineer </li>
    </ul>
  </div>

  <div class="company">
    NVidia:
    <ul>
      <li> Software Engineer </li>
    </ul>
  </div>

  <div class="company">
    <ul>
    </ul>
  </div>
</div>
