<%= render :partial => "home/menubar" %>

<%= render :partial => "home/biglogo" %>

<%= render :partial => "home/loginbar" %>

<ul>
  <li> Find the Right Company For You </li>
  <li> Find What It's Really Like </li>
  <li> Get an Introduction </li>
</ul>

<%= link_to(:controller => :registrations, :action => :quick) do %>
  <div class="call_to_action">
    Join Now!
  </div>
<% end %>

<div> Some companies we profile:

  <div class="company">
    Broadcom
    <ul>
      <li> Software Engineer </li>
    </ul>
  </div>

  <div class="company">
    NVidia:
    <ul>
      <li> Software Engineer </li>
    </ul>
  </div>

  <div class="company">
    <ul>
    </ul>
  </div>
</div>
