<% title "Let WantMyJob Find The Right Job for You" %>

<div class="spaced_container">
  <h1> Find The Right Job For You.  How? </h1>

  <div class="info_block">
    <span class="emphatic">Answer questions</span>
    for us about you and the jobs you've held.  We check
    our database of people and jobs, and we
    <span class="emphatic">recommend jobs for you</span>.
    The more you tell us, the better our recommendations get.
  </div>

  <div class="very_inset">
    <div class="call_to_action shadow">
     <%= link_to("Start Now!", new_user_registration_path) %>
    </div>

    &nbsp; (or <%= link_to("log in", new_user_session_path) %>)
  </div>

  <div class="info_block secondary">
    (Want to hire people?  Tell us how cool your job is and
     we'll send them your way.  That's how we
     <span class="emphatic">build</span> our database.)
  </div>

  <div class="info_block">
    <span class="emphatic">Companies we profile:</span>

    <div class="company inset">
      <span class="primary">Broadcom</span>
        <span class="secondary">(Software Engineer)</span>
    </div>

    <div class="company inset">
      <span class="primary">NVidia</span>
        <span class="secondary">(Software Engineer)</li>
    </div>
  </div>
</div>
