<h1> WantMyJob.com </h1>

<div class="leader">
  What Job is Best for You?
</div>

<% link_to(:controller => :registrations, :action => :quick) do %>
  <div class="call_to_action">
    Find Out!
  </div>
<% end %>
