<div class="spaced_container">
  <h1> Privacy for WantMyJob Alpha </h1>

  <p>
    Hi, I'm Noah!  I don't like it when people sell my email address,
    so I won't sell yours.
  </p>

  <p>
    Your profile information here is basically public.  The site
    exists to point you at jobs other people have entered, and to
    point other people at jobs you've entered, so you should consider
    your list of jobs to be public information.  I don't publicize a
    list of what jobs I've recommended to you in particular, but I
    don't treat recommendations as private.
  </p>

  <p>
    I try hard not to give out contact information.  If this place becomes
    yet another feeding frenzy of recruiters, we all lose.  So I try to
    keep the email contact controllable, but I *do* allow
    some of it through the site &ndash; most people want to hear about
    good new matches or interesting messages.  I don't give out your
    information to let other people contact you.
  </p>

  <p>
    Later on, I will probably email you when you've got interesting
    new job matches, and otherwise when I think the site might have
    something cool to show you.  When I start doing that,
    there <i>will</i> be a way to opt out, and it will be easy to
    find and to use.
  </p>
</div>
