<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @question_answer.text %>
</p>


<%= link_to 'Edit', edit_question_answer_path(@question_answer) %> |
<%= link_to 'Back', question_answers_path %>
